<ad>
	<configuracao>
		<numerorodadas>8</numerorodadas>
		<fasetransiente>1000</fasetransiente>
		<tamanhorodadas>100000</tamanhorodadas>
		<txChegada>0.5</txChegada>
		<casoInterrupcao>2</casoInterrupcao>
		<continuidade>1</continuidade>
		<fila1>			
			<tipo>FCFS</tipo>
			<distribuicaoServidor>normal</distribuicaoServidor>
			<txServico>10</txServico>
			<media>10.0</media>
			<desvioPadrao>1.0</desvioPadrao>
		</fila1>
		<fila2>		
			<tipo>LCFS</tipo>
			<distribuicaoServidor>exponencial</distribuicaoServidor>
			<txServico>4</txServico>
			<media>0.0</media>
			<desvioPadrao>0.0</desvioPadrao>
		</fila2>
	</configuracao>
</ad>